body {
  background-image: url('images/snake-background.jpg');
  font-family: 'Bangers', cursive;
}

main {
  align-items: center;
  display: grid;
  grid-template-columns: 20vw 1fr;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  color: #f7f7f7;
  font-size: 1.6rem;
  padding-left: 1.3rem;
}  

img {
  padding-left: 4.5rem;
}

.ui-text {
  display: flex;
  justify-content: space-around;
}

#game {
  background-color: #fff;
  border: 1px solid black;
  display: block;
  margin: auto auto auto 0;
}

.increase-difficulty {
  color: #434447;
  font-family: 'Bangers';
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 12.5rem;
}

.score-header {
  padding-left: 10.5rem;
}

.level-header {
  padding-right: 11rem;
}
