body {
  background-image: url('images/snake-background.jpg');
  font-family: 'Bangers', cursive;
}

h1 {
  text-align: center;
}

#game {
  background-color: #fff;
  border: 1px dashed;
  margin: auto;
  display: block;
}

.ui-text {
  display: flex;
  justify-content: space-around;
}