body {
  background-image: url('images/snake-background.jpg');
  font-family: 'Bangers', cursive;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.ui-text {
  display: flex;
  justify-content: space-around;
}

#game {
  background-color: #fff;
  border: 1px solid black;
  margin: auto;
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
}

.increase-difficulty {
  width: 5rem;
}